:root {
    --main-bg-color: rgb(52, 53, 141);
    --main-bg-color2: rgb(72, 74, 156);
    --main-bg-color3: rgb(98, 99, 175);
    --main-bg-color4: rgb(132, 133, 196);


    --secondary-bg-color: rgb(51, 51, 51);
}

* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

h2 {
    color: var(--main-bg-color4);
    text-decoration: underline;
}

body {
    margin: 0;
    padding: 0;
    height: 90%;
    background-color: var(--main-bg-color2);
}

nav {
    background-color: var(--secondary-bg-color);
    width: 100%;
    color: white;
    padding: 10px;
    text-align: center;
    height: 103px;
}

.header-btns {
    display: flex;
    justify-content: center;
}


.header-btn {
    background-color: var(--main-bg-color2);
    color: whitesmoke;
    padding: 8px 16px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
}

button {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
}

#color-picker {
    visibility: hidden;
}

label {
    display: block;
    height: 60px;
    width: 60px;
}

button:hover,
label:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7)
}



.editor-view {
    justify-content: space-around;
    align-items: center;
    padding-block: 20px;
    gap: 5px;
}

.canvas-container {
    /* width: max-content; */
}

canvas {
    border: 5px solid black;
    /* display: block;
    margin: 0 auto; */
}

.edit-panel {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 5px solid black;
    width: 30%;

}

.line-settings,
.text-settings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    max-width: max-content;
}

.input-field {
    /* display: flex;
    flex-wrap: wrap; */
    background-color: var(--main-bg-color3);
    padding: 1.1em;
    min-width: 50%;
    border: 2px inset var(--secondary-bg-color);
}

.font-select {
    background-color: var(--main-bg-color3);
    padding: 1.1em;
    border: 2px inset var(--secondary-bg-color);
    align-self: center;
    width: 50%;
}

::placeholder {
    color: whitesmoke;
    opacity: 0.7;
}

.gallery-item {
    display: flex;
    place-items: center;
}

.remove-saved-btn {
    opacity: 0.5;
    transition: 0.3s;
    position: absolute;
    bottom: 0;
}

.remove-saved-btn:hover {
    opacity: 1;
}


footer {
    position: fixed;
    background-color: var(--secondary-bg-color);
    color: var(--main-bg-color4);
    text-align: end;
    padding: 10px;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

footer p {
    margin: 0;
}

@media (max-width : 1000px) {
    .editor-view {
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }

    .edit-panel {
        width: 100%;
    }
}

@media (max-width : 800px) {
    canvas {
        height: 400px;
        width: 400px;
    }
}

@media (max-width : 400px) {
    canvas {
        height: 250px;
        width: 250px;
    }
}