* {
    box-sizing: border-box;
}

.imgs-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 0.5fr));
    grid-auto-flow: dense;
    gap: 10px;
    padding-top: 1em;
    padding-inline: 2em;
    padding-bottom: 2em;
    margin: 0 auto;

}

.gallery-img {
    position: relative;
    display: block;
    border: 5px solid black;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.search-elements {
    margin-top: 1em;
    margin-inline: 2em;
    display: flex;
    gap: 10px;
}

.search-field {
    background-color: rgb(132, 133, 196);
    padding: 1.1em;
    width: 50%;
    border: 2px inset #333;
}

.keyword-tags {
    margin-top: 1.2em;
    display: flex;
    place-content: center;
    gap: 10px;
}

.keyword {
    cursor: pointer
}


@media (max-width : 740px) {
    .imgs-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
    }
}

@media (max-width : 600px) {
    .imgs-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr))
    }
}

@media (max-width : 460px) {
    .imgs-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr))
    }
}